<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
        <div class="container position-relative">
            <div class="d-flex align-items-center justify-content-between w-100">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand me-lg-5" href="./about.html">
                        <img src="/static/assets/img/logos/genuplift_logo.png" alt="GenUplift">
                        GenUplift
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <!-- Your other buttons and commented out code -->
                    <a href="/upload.html" target="_blank" class="btn btn-tertiary"><i class="fas fa-cloud-upload-alt me-2"></i> Get Started</a>
                    <!-- Shopping Cart Button -->
                    <!--
                    <a href="/cart.html" class="btn btn-icon btn-outline-gray-100 d-none d-lg-inline-block ms-2">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    End Shopping Cart Button -->
                </div>
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>
