

<!DOCTYPE html>
<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    GenUplift - Biohack Yourself  - {% block title %}{% endblock %} | AppSeed
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="GenUplift - Biohack Yourself">
<meta name="author" content="GenUplift">
<meta name="description" content="Upload your DNA and learn the secrets of how to be the best version of yourself.">
<link rel="canonical" href="https://genuplift.com">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://genuplift.com">
<meta property="og:title" content="GenUplift - Biohack Yourself">
<meta property="og:description" content="Upload your DNA and learn the secrets of how to be the best version of yourself.">
<meta property="og:image" content="/static/assets/img/logos/genuplift_logo">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://genuplift.com">
<meta property="twitter:title" content="GenUplift - Biohack Yourself">
<meta property="twitter:description" content="Upload your DNA and learn the secrets of how to be the best version of yourself.">
<meta property="twitter:image" content="/static/assets/img/logos/genuplift_logo">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="192x192" href="/static/assets/img/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% include 'includes/navigation.html' %}

    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
