{% extends "layouts/base.html" %}

{% block title %} Contact {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section section-header pb-11 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">Contact Us</h1>
                        <p class="lead">Our passion lies in supporting your well-being journey. Let us know your concerns or aspirations, and we'll offer personalized advice and the latest insights to empower you in reaching your wellness goals.</p>        
                    </div>
                </div>
            </div>
        </section>

        <!-- Section -->
        <div class="section py-0">
            <div class="container mt-n10">
                <div class="row">
                    <div class="col-12">
                        <iframe class="map rounded" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42479.107878354465!2d-116.59703442429117!3d48.284688542338564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5363d1332dff4541%3A0xab5434ebcfe9717b!2sSandpoint%2C%20ID%2083864!5e0!3m2!1sen!2sus!4v1709416090792!5m2!1sen!2sus"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Section -->
        <section class="section section-lg pt-6">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-lg-8">
                        <!-- Contact Card -->
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2>Want to work with us?</h2>
                                <p>Cool! Let’s talk about your project</p>
                            </div>
                            <div class="card-body px-0 pt-0">
                                <form action="#">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="name">Your Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                            <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="email">Your Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                            <input type="email" class="form-control" placeholder="example@company.com" id="email" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="mb-4">
                                        <label for="message">Your Message</label>
                                        <textarea placeholder="Your message" class="form-control" id="message" rows="4" required></textarea>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn rounded btn-secondary">Send message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End of Contact Card -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mb-5">
                        <h2>Our Team</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-0 text-center">
                            <div class="card-header border-0 bg-white">
                                <img src="/static/assets/img/team/chad_centofante.jpg" class="card-img-top rounded shadow border-0" alt="Christopher Avatar">
                            </div>
                            <div class="card-body">
                                <span class="card-subtitle text-gray fw-normal">Cybersecurity Engineer</span>
                                <h3 class="h4 card-title mt-2">Chad Centofante</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-0 text-center">
                            <div class="card-header border-0 bg-white">
                                <img src="/static/assets/img/team/benjamin_spooner.jpg" class="card-img-top rounded shadow border-0" alt="Bonnie Avatar">
                            </div>
                            <div class="card-body">
                                <span class="card-subtitle text-gray fw-normal">Senior Data Scientist</span>
                                <h3 class="h4 card-title mt-2">Benjamin Spooner</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-0 text-center">
                            <div class="card-header border-0 bg-white">
                                <img src="/static/assets/img/team/sarah_liebowitz3.jpg" class="card-img-top rounded shadow border-0" alt="Bonnie Avatar">
                            </div>
                            <div class="card-body">
                                <span class="card-subtitle text-gray fw-normal">Dietician</span>
                                <h3 class="h4 card-title mt-2">Sarah Liebowitz</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
