{% extends "layouts/base.html" %}

{% block navigation %}
{% endblock %}

{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
      const getStartedButton = document.querySelector('a.btn-tertiary[href="/upload.html"]');
      if (getStartedButton) {
          getStartedButton.style.display = 'none';
      }
  });
</script>
  
<style>
  #navbar-main .nav-link {
      color: #242e4c; /* Your specific blue color */
  }
  a.btn.btn-outline-gray-100 {
      background-color: #242e4c; /* Initial background color */
      color: #ffffff; /* Initial text color */
      border-color: #242e4c; /* Initial border color */
  }
  a.btn.btn-outline-gray-100:hover {
      background-color: #ffffff !important; /* Hover background color */
      color: #242e4c !important; /* Hover text color */
      border-color: #242e4c !important; /* Hover border color */
  }
</style>
<section class="section section-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="card border-0 p-2 p-md-3 p-lg-5">
                    <div class="card-header bg-white border-0 text-center">
                        <h2>Upload File</h2>
                        <p>Select a file to upload.</p>
                    </div>
                    <div class="card-body pt-0">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="mb-4">
                                <label for="file">Choose File</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="file-addon"><span class="fas fa-upload"></span></span>
                                    <input type="file" class="form-control" id="file" name="file" required>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-secondary">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stylesheets %}

{% include 'includes/footer-about.html' %}

{% endblock %}
